<div class="home-content">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="line-text">
                <div class="hl"></div>
                <p class="welcome-text">Welcome to my site</p>
            </div>
            <h1 class="hello-text">Hello! I’m Anitah <br>
                Web developer </h1>
            <div>
                <button class="btn-1 button-hiring">I need a website  ></button>
                <button class="btn-2 button-hiring">I’m looking to hire  ></button>
            </div>
          </div>
          <div class="col-md-6 d-none d-md-block">
            <img class="image-profile" src="assets/images/profil.png" alt="Anitah Profile">
          </div>
        </div>
    <div>
</div>
