.navbar{
  height: 40%;
  font-size: 1.2em !important;
  padding: 1.5% 5% 1.5% 5% !important;
}
header{
  position: sticky !important;
  top: 0 !important;
  display: block !important;
}
.nav-link,.navbar-toggler-icon{
   color: black !important;
}
.nav-link{
  text-transform: capitalize !important;
}

.active>.nav-link{
   color: #D20303  !important;
   font-weight: 600;
}

.active-lng{
   border-color: #D20303;
   background-color: #D20303;
   color: #fff;
   font-weight: 800;
   text-align: center;
}

.btn-lng{
  width: 48px;
  height: 30px;
  }
